<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Person Info</title>
</head>
<body>
    <h2>{{person.first_name}} {{person.last_name}}</h2>
    <p>{{person.gender}}</p>
    <p>{{person.race}}</p>
    <p>{{person.age_at_missing}}</p>
    <p>{{person.city}}</p>
    <p>{{person.state}}</p>
    <p>{{person.date_missing}}</p>
    <br>
    <a href="{% url 'index' %}">GO BACK</a>

</body>
</html>